{
  "$schema": "https://json.schemastore.org/eslintrc",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-namespace": "off",
    "no-fallthrough": "off",
    "sort-imports": [
      "warn",
      {
        "ignoreCase": true,
        "allowSeparatedGroups": true
      }
    ]
  }
}
