{
    "$schema": "https://json.schemastore.org/eslintrc",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "root": true,
    "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/naming-convention": "warn",
        "@typescript-eslint/no-namespace": "off",
        "@typescript-eslint/semi": "warn",
        "no-fallthrough": "off",
        "semi": "off",
        "sort-imports": [
            "warn",
            {
                "ignoreCase": true,
                "allowSeparatedGroups": true
            }
        ]
    }
}
